
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(236, 222, 204);
    max-width: 1000px;
    float: none;
    margin: auto;
}


  /* global style changes */

  h1, h2, h3, h4, h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        align-items: center;  
    }

        a {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            align-items: center;  
        }
                              
                                
/* different layout changes */

.GameBar {
    float: left;
    width: 70%;
    display: block;
    min-height: 300px;
}

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        nav a {
            text-decoration: none;
            color: none;
            padding: 10px;
        }

        .index-image {
                width: 30%;
                border: 4px solid red;
                border-radius: 15px;
                margin: 10px 0 0 10px;
                border-radius: 25%;     
            }

                .headline{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }                         



  /* Homepage */

  main {
    float: left;
    width: 70%;
    display: block;
    min-height: 300px;
}

    aside {
        float: right;
        width: 28%;
        display: block;
        min-height: 300px;  
    }

        footer {
            display: inline-block;
            width: 100%
        }